version: "3.9"
services:
  web:
    build: .
    containdocker infoer_name: mock-test-dev4
    ports:
      - "1832:5000"
    volumes:
      - .:/app
    environment:
      FLASK_ENV: development
      FLASK_DEBUG: 1
      FLASK_RUN_HOST: 0.0.0.0
      FLASK_RUN_PORT: 5000
    command: flask run
