{% raw %}
\documentclass[12pt,dvipdfmx]{jarticle}
\usepackage[margin=2cm]{geometry}
\usepackage{amsmath,amssymb}
\usepackage{enumitem}
\usepackage{systeme}
\usepackage{setspace}
\usepackage{tikz}
\usetikzlibrary{positioning, intersections, calc, arrows.meta, math, through, quotes, angles, patterns}
\usepackage{signchart}
\usepackage{tcolorbox}
\tcbuselibrary{theorems,breakable}
\usepackage{wrapfig}
\usepackage{tabularray}
\usepackage{nccmath}
\usepackage{ascmac}
\usepackage{multicol}
\usepackage{mathcomp}
\usepackage{tikz-3dplot}
\newcommand{\ctext}[1]{\raise0.2ex\hbox{\textcircled{\scriptsize{#1}}}}
\newcommand{\bunsu}[2]{\displaystyle \frac{\: #1 \:}{\: #2 \:}}
\newcommand{\combination}[2]{{}_{#1} \mathrm{C}_{#2}}
{% endraw %}

\begin{document}

{% for p in problems %}
{{ p.body }}
{% endfor %}

\end{document}
